# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/Debug/redisservice.ilk
/build/redisservice.dir/obj/Debug/redisservice.tlog/CL.command.1.tlog
*.tlog
*.log
*.suo
*.sln
*.pdb
*.user
*.ilk
*.db
*.opendb
/build/.vs/redisservice/v15/ipch/AutoPCH/1d800acded623c9b/REDISSERVICE.ipch
/build/.vs/redisservice/v15/ipch/AutoPCH/402942203bad331b/KJREDISCLIENTCONN.ipch

wxlua-wxwidgets311/wxLua/build/\.vs/

*.bak

wxlua-wxwidgets311/wxLua/build/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/wxlua/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/wxlua/wxLua_app\.dir/

wxlua-wxwidgets311/wxLua/build/apps/wxluacan/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/wxluacan/wxLuaCan\.dir/

wxlua-wxwidgets311/wxLua/build/apps/wxluaedit/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/wxluafreeze/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/apps/wxluafreeze/wxLuaFreeze\.dir/

wxlua-wxwidgets311/wxLua/build/bindings/CMakeFiles/

*.exp

wxlua-wxwidgets311/wxLua/build/modules/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.1_/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.2_/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.2_/lua-shared\.dir/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.2_/lua\.dir/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.3/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.3/lua-shared\.dir/

wxlua-wxwidgets311/wxLua/build/modules/lua-5\.3/lua\.dir/

wxlua-wxwidgets311/wxLua/build/modules/luamodule/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/luamodule/wxLuaModule\.dir/

wxlua-wxwidgets311/wxLua/build/modules/wxbind/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/wxlua/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/wxlua/debug/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/modules/wxlua/debugger/CMakeFiles/

wxlua-wxwidgets311/wxLua/build/CMakeCache\.txt

wxlua-wxwidgets311/wxLua/modules/lua-5\.3/build/lua/Debug/

wxlua-wxwidgets311/wxLua/modules/lua-5\.3/build/luacore/Debug/
